*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: teal;
    text-align: right;
}
.row{
    display: flex;
}
div{
    width: 12rem;
}
button{
    background-color: turquoise;
}
button:hover{
background-color: aquamarine;
}
.calc{
background-color: thistle;
}
.normal_button{
    width: 3rem;
}
.dark_button{
    background-color: black;
width: 3rem;
}
button.dark_button:hover{
background-color: aliceblue;
}
.double_button{
width: 6rem;
}